body {
  background-color: #cc6600;
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%);
  font-family: "Permanent Marker", cursive;
  text-align: center;
  font-size: 130%;
}